apiVersion: v1alpha1
metadata:
  name: ostest 
  namespace: cluster0
hosts:
    - hostname: master-0
      interfaces:
        - name: eth0 
          macAddress: 00:89:fb:cb:b4:ce 
        - name: eth1
          macAddress: 00:00:00:00:00:01
        - name: eth2
          macAddress: 00:00:00:00:00:02
      networkConfig:
        interfaces:
          - name: eth0
            type: ethernet
            state: down
            mac-address: 00:89:fb:cb:b4:ce
          - name: eth1
            type: ethernet
            state: up
            mac-address: 00:00:00:00:00:01
          - name: eth2
            type: ethernet
            state: up
            mac-address: 00:00:00:00:00:02
          - name: bond0
            type: bond
            state: up
            ipv4:
              dhcp: false
              enabled: true
              address:
                - ip: 192.168.111.80
                  prefix-length: 24
            ipv6:
              dhcp: false
              enabled: false
            link-aggregation:
              mode: balance-alb
              port:
              - eth1
              - eth2
        dns-resolver:
          config:
            server:
              - 192.168.111.1
        routes:
          config:
            - destination: 0.0.0.0/0 
              next-hop-address: 192.168.111.1
              next-hop-interface: bond0
              table-id: 254
    - hostname: master-1
      interfaces:
        - name: eth0 
          macAddress: 00:89:fb:cb:b4:d2 
        - name: eth1
          macAddress: 00:00:00:00:01:01
        - name: eth2
          macAddress: 00:00:00:00:01:02
      networkConfig:
        interfaces:
          - name: eth0
            type: ethernet
            state: down
            mac-address: 00:89:fb:cb:b4:d2
          - name: eth1
            type: ethernet
            state: up
            mac-address: 00:00:00:00:01:01
          - name: eth2
            type: ethernet
            state: up
            mac-address: 00:00:00:00:01:02
          - name: bond0
            type: bond
            state: up
            ipv4:
              dhcp: false
              enabled: true
              address:
                - ip: 192.168.111.81
                  prefix-length: 24
            ipv6:
              dhcp: false
              enabled: false
            link-aggregation:
              mode: balance-alb
              port:
              - eth1
              - eth2
        dns-resolver:
          config:
            server:
              - 192.168.111.1
        routes:
          config:
            - destination: 0.0.0.0/0 
              next-hop-address: 192.168.111.1
              next-hop-interface: bond0
              table-id: 254
    - hostname: master-2
      interfaces:
        - name: eth0 
          macAddress: 00:89:fb:cb:b4:d6 
        - name: eth1
          macAddress: 00:00:00:00:02:01
        - name: eth2
          macAddress: 00:00:00:00:02:02
      networkConfig:
        interfaces:
          - name: eth0
            type: ethernet
            state: down
            mac-address: 00:89:fb:cb:b4:d6
          - name: eth1
            type: ethernet
            state: up
            mac-address: 00:00:00:00:02:01
          - name: eth2
            type: ethernet
            state: up
            mac-address: 00:00:00:00:02:02
          - name: bond0
            type: bond
            state: up
            ipv4:
              dhcp: false
              enabled: true
              address:
                - ip: 192.168.111.82
                  prefix-length: 24
            ipv6:
              dhcp: false
              enabled: false
            link-aggregation:
              mode: balance-alb
              port:
              - eth1
              - eth2
        dns-resolver:
          config:
            server:
              - 192.168.111.1
        routes:
          config:
            - destination: 0.0.0.0/0 
              next-hop-address: 192.168.111.1
              next-hop-interface: bond0
              table-id: 254